/**
* @name NoStatusStandalone
* @description A theme to remove status indicators from Discord. Now everyone is either online or offline.
* @author qxxst
* @website https://github.com/qxxst/NoStatusStandalone
* @version 0.2
* @authorLink https://github.com/qxxst
*/

/* Hide status indicators without leaving a hole in icons */
.mask__1979f circle {
    display: none;
}

.cursorDefault_e4f616 {
    display: none;
}

.status_be3f03 {
    display: none;
}

/* Hide activity text */
.subText_ab7e13 {
    display: none;
}

.activity_a8c37a {
    display: none;
}

.subtext__1a662 {
    display: none;
}

rect[mask="url(#svg-mask-status-online)"] {
    display: none;
}

rect[mask="url(#svg-mask-status-online-mobile)"] {
    display: none;
}

rect[mask="url(#svg-mask-status-idle)"] {
    display: none;
}

rect[mask="url(#svg-mask-status-dnd)"] {
    display: none;
}

rect[mask="url(#svg-mask-status-offline)"] {
    display: none;
}

rect[mask="url(#svg-mask-status-online)"] {
    display: none;
}

rect[mask="url(#:r20:)"] {
    display: none;
}

rect[mask="url(#:rb5:)"] {
    display: none;
}

rect[mask="url(#:r4k:)"] {
    display: none;
}

foreignObject[width="32"][height="32"][mask*="url"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

/* Removes the "Active Now" section under Friends */
.nowPlayingColumn_f5023f {
    display: none;
}

/* Fix usernames with discriminators under Friends */
.discordTag_e6cb79 {
    align-items: center;
}