/**
* @name NoStatusStandalone
* @description A theme to remove status indicators from Discord. Now everyone is either online or offline.
* @author qxxst
* @website https://github.com/qxxst/NoStatusStandalone
* @version 0.2
* @authorLink https://github.com/qxxst
*/

/* Hide status indicators without leaving a hole in icons */
rect[mask="url(#svg-mask-status-online)"] {
    display: none;
}

rect[mask="url(#svg-mask-status-online-mobile)"] {
    display: none;
}

rect[mask="url(#svg-mask-status-idle)"] {
    display: none;
}

rect[mask="url(#svg-mask-status-dnd)"] {
    display: none;
}

rect[mask="url(#svg-mask-status-offline)"] {
    display: none;
}

foreignObject[mask="url(#svg-mask-avatar-status-round-32)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

foreignObject[mask="url(#svg-mask-avatar-status-round-120)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

.mask__1979f circle {
    display: none;
}

foreignObject[mask="url(#svg-mask-avatar-status-mobile-32)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

foreignObject[mask="url(#svg-mask-avatar-status-round-80)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

foreignObject[mask="url(#:r1:)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

foreignObject[mask="url(#:r1o:)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

foreignObject[mask="url(#:r0:)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

foreignObject[mask="url(#:r3t:)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

foreignObject[mask="url(#:r51:)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

foreignObject[mask="url(#:r2n:)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

foreignObject[mask="url(#:rb4:)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

foreignObject[mask="url(#:rg1:)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

foreignObject[mask="url(#:rfv:)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

rect[mask="url(#svg-mask-status-online)"] {
    display: none;
}

rect[mask="url(#:r20:)"] {
    display: none;
}

rect[mask="url(#:rb5:)"] {
    display: none;
}

.cursorDefault_e4f616 {
    display: none;
}

.status_be3f03 {
    display: none;
}