/**
* @name NoStatusStandalone
* @description A theme to remove status indicators from Discord. Now everyone is either online or offline.
* @author qxxst
* @website https://github.com/qxxst/NoStatusStandalone
* @version 0.2
* @authorLink https://github.com/qxxst
*/

/* Import rules for URL masks */
@import url('https://cdn.jsdelivr.net/gh/qxxst/NoStatusStandalone@main/url-masks.theme.css');

/* Hide status indicators without leaving a hole in icons */
.mask__1979f circle {
    display: none;
}

.cursorDefault_e4f616 {
    display: none;
}

.status_be3f03 {
    display: none;
}

/* Hide activity text */
.subText_ab7e13 {
    display: none;
}

.activity_a8c37a {
    display: none;
}

.subtext__1a662 {
    display: none;
}

/* Removes the "Active Now" section under Friends */
.nowPlayingColumn_f5023f {
    display: none;
}